*.pyc
/__pycache__
.DS_Store
.ipynb_checkpoints
/.venv

# Test coverage
.coverage
coverage.xml

# API stubs
stubs/

# Frontend build
frontend/

# Env secrets
.env.secret

batch_cloning_output/
.pytest_cache/

# poetry build
dist/

bin/
