[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
biopython = "*"
python-multipart = "*"
pydna = {editable = true, git = "https://github.com/manulera/pydna"}
beautifulsoup4 = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"
ipykernel = "*"

[requires]
python_version = "3.9"
