[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydna = "*"
biopython = "*"
python-multipart = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"
ipykernel = "*"

[requires]
python_version = "3.9"
